.items-index-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .herobar {
    background-image: url(https://i.pinimg.com/originals/07/89/d5/0789d5fa211be6fbb54747727944b351.jpg);
    height: 15rem;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    display: grid;
    place-content: center;

    h1 {
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, .7);
      font-size: 6rem;
    }
  }

  .items {
    width: 80%;
    max-width: 700px;
    margin: 5rem 0;

    .index-card {
      margin: 2rem 0;
      font-size: 1.2rem;

      &__actions {
        .btn {
          display: block;
          width: fit-content;
        }
      }
    }

    .index-card:nth-child(2n) {
      flex-direction: row;
      text-align: right;

      .btn {
        margin-left: auto;
      }
    }
    
    .index-card:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (max-width: 750px) {
  .items-index-container {
    .herobar {
      h1 {
        font-size: 4rem;
      }
    }
    .index-card {
      justify-content: center;
      &__illustration {
        img {
          width: 100%;
          flex: 0 0 auto;
          aspect-ratio: 1/1;
        }
      }
      &__body {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
      }

      &__actions {
        text-align: center;
        .btn {
          margin: 1rem auto;
        }
      }
    }
  }
}