.items-index-container {
  .herobar {
    background-image: url(https://i.pinimg.com/originals/07/89/d5/0789d5fa211be6fbb54747727944b351.jpg);
    height: 15rem;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    display: grid;
    place-content: center;

    h1 {
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, .7);
      font-size: 6rem;
    }
  }

  .items {
    padding:  15%;

    .index-card:nth-child(2n) {
      flex-direction: row;
      text-align: right;
    }
    
    .index-card:nth-child(2n + 1) {
      flex-direction: row-reverse;
    }
  }
}