.navbar {
  background-color: $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__brand {
    display: flex;
    align-items: center;

    .logo {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }

    .title {
      font-size: 2rem;
      color: #fff;
      font-weight: 400;
    }
  }

  &__items {
    .item {
      margin: .8rem;
      color: $gni;
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    &__brand {
      .title {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 525px) {
  .navbar {
    
  }
}