.index-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__illustration {
    width: 15rem;
    overflow: hidden;
    border-radius: 4rem;

    img {
      height: 100%;
      transform: scale(1);
      transition: all .5s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.show-card {
  display: flex;
  justify-content: center;

  &__body {
    margin: 1em;

    & .grey {
      color: $grey;
      padding: 1rem 0;
      border-bottom: 1px solid $lightgrey;
    }

    &--description {
      margin: 1rem 0;
      max-width: 20rem;
    }
  }
}