.index-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;

  &__illustration {
    width: 15rem;
    overflow: hidden;
    border-radius: 4rem;

    img {
      height: 100%;
      transform: scale(1);
      transition: all .5s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.show-card {
  display: flex;
  justify-content: center;

  &__body {
    margin: 1em;

    & .grey {
      color: $grey;
      margin: 1rem 0;
    }

    &--description {
      padding: 1rem 0;
      max-width: 20rem;
      border-bottom: 1px solid $lightgrey;
      border-top: 1px solid $lightgrey;
    }
  }
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;

  & img {
    width: 10rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    margin-right: 1rem;
  }

  &__content {
    &--title, &--quantity {
      font-weight: bolder;
    }

    &--options {
      display: flex;
      align-items: center;
    }
  }

  & .add_quantity {
    font-size: 1.2em;
    padding: 0 0.2em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 0.5em;
    color: $gni;
}
}