<div class='index-card'>
  <div class='index-card__illustration'>
    <img src=<%= item.image_url %> alt='image'>
  </div>
  <div class='index-card__body'>
    <h3 class='title'><%= item.title %>
    <p class='price'><%= "#{item.price.to_s.ljust(5, '0')} €" %></p>
    <%= link_to 'En savoir plus', '#', class: 'btn' %>
  </div>
</div>