<div class='index-card'>
  <div class='index-card__illustration'>
    <img src=<%= item.image_url %> alt='image'>
  </div>
  <div class='index-card__body'>
    <h3 class='title'><%= item.title %>
    <p class='price'><%= "#{item.price} €" %></p>
    <%= link_to 'En savoir plus', item_path(item.id) , class: 'btn' %>
  </div>
</div>