<footer class="footer">
  <div class="footer__column__1">
    <a target="_blank" href="https://github.com/Beygs" class="footer__column__1--icons"> <i class="fab fa-twitter"></i> </a>
    <a target="_blank" href="https://github.com/looping124" class="footer__column__1--icons"> <i class="fab fa-facebook-f"></i> </a>
    <a target="_blank" href="https://github.com/keeev90" class="footer__column__1--icons"> <i class="fab fa-github"></i> </a>
    <a target="_blank" href="https://github.com/pierre-pellegrino" class="footer__column__1--icons"> <i class="fab fa-youtube"></i> </a>
  </div>

  <div class="footer__column__2">

  </div>

</footer>