<nav class='navbar'>
  <%= link_to '😽 Poticha', root_path, class: 'navbar__brand' %>
  <div class='navbar__items'>
    <%= link_to 'Mon Compte', '#', class: 'item' %>
    <%= link_to 'Mon Panier', '#', class: 'item' %>
  </div>
</nav>