<nav class='navbar'>
  <div class='navbar__brand'>
    <div class='logo'></div>
    <%= link_to 'Poticha', root_path, class: 'title' %>
  </div>
  <div class='navbar__items'>
    <%= link_to 'Mon Compte', '#', class: 'item' %>
    <%= link_to 'Mon Panier', '#', class: 'item' %>
  </div>
</nav>